[submodule "Auto-Android-App-Generator"]
	path = Auto-Android-App-Generator
	url = https://github.com/SparshBansal/Auto-Android-App-Generator.git
[submodule "App_Generator_Android"]
	path = App_Generator_Android
	url = https://github.com/utkarshnath/App_Generator_Android.git
[submodule "Auto-Android-Frontend"]
	path = Auto-Android-Frontend
	url = https://github.com/utkarshnath/Auto-Android-Frontend.git
